/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 /* IMG SETTING */

img {
    max-width: 100%;
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* FONT STYLE */

body {
    font-family: 'Fredoka', sans-serif;
}

/* TITLE AND SUBTITLE STYLE SETTING */

main {
    width: 85%;
    margin: auto;
}

.title{
    text-align: center;
    color: #e53170;
    font-weight: bolder;
    font-size: 3rem;
    margin: 40px;
}

.subtitle {
    text-align: center;
    font-size: 1.25rem;
    margin: 40px;
}

/* CARD SECTION SETTING AND STYLE */

.container{
    width: 100%;
}

.card{
    width: calc(100% / 3 - 40px);
    background-color: #0f0e17;
    float: left;
    margin: 20px;
}

.photos{
    width: 110px;
    float: left;
    margin-right: 10px;
}

.card > *:not(.photos) {
    padding: 4px ;
}

.name{
    color: white;
    font-size: 1.45rem;
    font-weight: bold;
}

.job{
    color: white;
    font-size: 1.10rem;
}

.email{
    color: #39a4e2;
    font-size: 0.90rem;
}